services:
  webapi:
    build:
      context: .
      dockerfile: src/ConnectSea.WebApi/Dockerfile
    expose:
      - "8080"
    ports:
        - "8080:8080"
    environment:
      - ASPNETCORE_ENVIRONMENT=Production
  
  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      SA_PASSWORD: "C0nn3ctSea!2025#"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"